USE [master]
GO
/****** Object:  Database [BanHangDoGo]    Script Date: 5/5/2018 11:50:39 AM ******/
CREATE DATABASE [BanHangDoGo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanHangDoGo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BanHangDoGo.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BanHangDoGo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BanHangDoGo_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanHangDoGo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanHangDoGo]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [bigint] NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[MaHoaDon] [varchar](50) NULL,
	[NgayGiaoHang] [date] NULL,
	[SoLuongDaGiao] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PkChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietHopDong]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHopDong](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [bigint] NULL,
	[MaSanPham] [bigint] NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[ThanhTien] [decimal](18, 0) NULL,
 CONSTRAINT [PkChiTietHopDong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMucSanPham]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPham](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NULL,
 CONSTRAINT [PkDanhMucSanPham] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeXuat]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeXuat](
	[Id] [bigint] NOT NULL,
	[DeXuat] [nvarchar](50) NULL,
	[MaNguoiDeXuat] [bigint] NULL,
	[MaNguoiXacNhan] [bigint] NULL,
	[KetQua] [bit] NULL,
 CONSTRAINT [PkDeXuat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](50) NOT NULL,
	[ThoiGianTao] [datetime] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[MaNguoiDung] [bigint] NULL,
	[MaKhachHang] [bigint] NULL,
	[DaThanhToan] [bit] NULL,
	[NgayGiaoHang] [date] NULL,
	[NgayDatCoc] [date] NULL,
	[NgayThanhToan] [date] NULL,
	[HopDong] [bigint] NULL,
	[GiaiDoanGiaoHang] [nvarchar](255) NULL DEFAULT (N'Đã tiếp nhận'),
 CONSTRAINT [PkHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HopDong](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NgayTao] [date] NULL,
	[MaNhanVien] [bigint] NULL,
	[MaGiamDoc] [bigint] NULL,
	[MaKhachHang] [bigint] NULL,
	[ThanhTien] [decimal](18, 0) NULL,
	[KhachHangXacNhan] [bit] NULL,
	[TienDatCoc] [int] NULL DEFAULT ((0)),
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[LoaiHopDong] [varchar](1) NULL,
	[ThoiGian] [varchar](1) NULL,
	[TinhTrang] [varchar](255) NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PkHopDong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [varchar](11) NULL,
	[Email] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
 CONSTRAINT [PkKhachHang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiTaiKhoan]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PkLoaiTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[MaLoai] [bigint] NOT NULL,
 CONSTRAINT [PkNguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](50) NULL,
 CONSTRAINT [PkNhaCungCap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/5/2018 11:50:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MetaTitle] [ntext] NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[MoTa] [ntext] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[DonVi] [nvarchar](50) NULL,
	[MaCC] [bigint] NULL,
	[MaDanhMuc] [bigint] NULL,
	[HinhAnh] [nvarchar](100) NULL,
 CONSTRAINT [PkSanPham] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([Id], [MaSanPham], [TenSanPham], [SoLuong], [DonGia], [TongTien], [MaHoaDon], [NgayGiaoHang], [SoLuongDaGiao]) VALUES (3, 17, N'Bàn ghế cao cấp', 40, CAST(40000000 AS Decimal(18, 0)), CAST(1600000000 AS Decimal(18, 0)), N'HD636586508276981112', CAST(N'2018-04-06' AS Date), 13)
INSERT [dbo].[ChiTietHoaDon] ([Id], [MaSanPham], [TenSanPham], [SoLuong], [DonGia], [TongTien], [MaHoaDon], [NgayGiaoHang], [SoLuongDaGiao]) VALUES (4, 9, N'Bàn cho trẻ học', 10, CAST(2000000 AS Decimal(18, 0)), CAST(20000000 AS Decimal(18, 0)), N'HD636586508276981112', CAST(N'2018-04-06' AS Date), 13)
INSERT [dbo].[ChiTietHoaDon] ([Id], [MaSanPham], [TenSanPham], [SoLuong], [DonGia], [TongTien], [MaHoaDon], [NgayGiaoHang], [SoLuongDaGiao]) VALUES (5, 14, N'Giường ngủ cho vợ chồng', 10, CAST(5000000 AS Decimal(18, 0)), CAST(50000000 AS Decimal(18, 0)), N'HD636586508276981112', CAST(N'2018-04-06' AS Date), 13)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
SET IDENTITY_INSERT [dbo].[ChiTietHopDong] ON 

INSERT [dbo].[ChiTietHopDong] ([Id], [MaHopDong], [MaSanPham], [TenSanPham], [SoLuong], [DonGia], [ThanhTien]) VALUES (15, 10, 11, NULL, 25, NULL, CAST(22500000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietHopDong] ([Id], [MaHopDong], [MaSanPham], [TenSanPham], [SoLuong], [DonGia], [ThanhTien]) VALUES (16, 10, 6, NULL, 22, NULL, CAST(6600000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietHopDong] ([Id], [MaHopDong], [MaSanPham], [TenSanPham], [SoLuong], [DonGia], [ThanhTien]) VALUES (17, 10, 17, NULL, 55, NULL, CAST(2200000000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ChiTietHopDong] OFF
SET IDENTITY_INSERT [dbo].[DanhMucSanPham] ON 

INSERT [dbo].[DanhMucSanPham] ([Id], [TenDanhMuc]) VALUES (1, N'Đồ gỗ phong thủy')
INSERT [dbo].[DanhMucSanPham] ([Id], [TenDanhMuc]) VALUES (2, N'Đồ gỗ mỹ nghệ')
INSERT [dbo].[DanhMucSanPham] ([Id], [TenDanhMuc]) VALUES (4, N'Đồ gỗ xây dựng')
SET IDENTITY_INSERT [dbo].[DanhMucSanPham] OFF
INSERT [dbo].[DeXuat] ([Id], [DeXuat], [MaNguoiDeXuat], [MaNguoiXacNhan], [KetQua]) VALUES (1, N'âsasasas', 1, 1, 1)
INSERT [dbo].[DeXuat] ([Id], [DeXuat], [MaNguoiDeXuat], [MaNguoiXacNhan], [KetQua]) VALUES (2, N'aaaaaaaaaaaaaaaaaaaa', 1, 1, NULL)
INSERT [dbo].[HoaDon] ([MaHoaDon], [ThoiGianTao], [TongTien], [MaNguoiDung], [MaKhachHang], [DaThanhToan], [NgayGiaoHang], [NgayDatCoc], [NgayThanhToan], [HopDong], [GiaiDoanGiaoHang]) VALUES (N'HD636586508276981112', CAST(N'2018-04-06 22:33:47.697' AS DateTime), CAST(1670000000 AS Decimal(18, 0)), NULL, 6, NULL, CAST(N'2018-04-06' AS Date), CAST(N'2018-04-07' AS Date), CAST(N'2018-04-09' AS Date), NULL, N'Hoàn thành')
INSERT [dbo].[HoaDon] ([MaHoaDon], [ThoiGianTao], [TongTien], [MaNguoiDung], [MaKhachHang], [DaThanhToan], [NgayGiaoHang], [NgayDatCoc], [NgayThanhToan], [HopDong], [GiaiDoanGiaoHang]) VALUES (N'HD636611168992741741', CAST(N'2018-05-05 11:34:59.273' AS DateTime), CAST(4858200000 AS Decimal(18, 0)), NULL, 1, NULL, CAST(N'2018-05-05' AS Date), NULL, NULL, 10, N'Đang giao hàng')
INSERT [dbo].[HoaDon] ([MaHoaDon], [ThoiGianTao], [TongTien], [MaNguoiDung], [MaKhachHang], [DaThanhToan], [NgayGiaoHang], [NgayDatCoc], [NgayThanhToan], [HopDong], [GiaiDoanGiaoHang]) VALUES (N'HD636611172162923889', CAST(N'2018-05-05 11:40:16.293' AS DateTime), CAST(120000000 AS Decimal(18, 0)), NULL, 1, NULL, NULL, NULL, NULL, 11, N'Đang giao hàng')
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([Id], [NgayTao], [MaNhanVien], [MaGiamDoc], [MaKhachHang], [ThanhTien], [KhachHangXacNhan], [TienDatCoc], [NgayBatDau], [NgayKetThuc], [LoaiHopDong], [ThoiGian], [TinhTrang], [NoiDung]) VALUES (10, CAST(N'0001-01-01' AS Date), 2, NULL, 1, CAST(2229100000 AS Decimal(18, 0)), 1, 5000000, CAST(N'2018-11-25' AS Date), CAST(N'2019-11-02' AS Date), NULL, NULL, N'Hoàn thành', N'<p>C&aacute;c b&ecirc;n phải tu&acirc;n thủ thỏa thuận nếu kh&ocirc;ng phải bồi thường hợp đồng</p>
')
INSERT [dbo].[HopDong] ([Id], [NgayTao], [MaNhanVien], [MaGiamDoc], [MaKhachHang], [ThanhTien], [KhachHangXacNhan], [TienDatCoc], [NgayBatDau], [NgayKetThuc], [LoaiHopDong], [ThoiGian], [TinhTrang], [NoiDung]) VALUES (11, CAST(N'0001-01-01' AS Date), 2, NULL, 1, CAST(922500000 AS Decimal(18, 0)), 1, 2000000, CAST(N'2019-11-25' AS Date), CAST(N'2020-12-24' AS Date), NULL, NULL, N'Hoàn thành', N'<p>sdfsdfsdf</p>
')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([Id], [TaiKhoan], [MatKhau], [TenKhachHang], [DiaChi], [DienThoai], [Email], [NgaySinh]) VALUES (1, N'hoalan', N'e10adc3949ba59abbe56e057f20f883e', N'Nguyễn Anh', N'Thanh Hóa', N'123456789', N'anh123@gmail.com', CAST(N'2015-01-07 00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([Id], [TaiKhoan], [MatKhau], [TenKhachHang], [DiaChi], [DienThoai], [Email], [NgaySinh]) VALUES (2, N'minhnguyet', N'e10adc3949ba59abbe56e057f20f883e', N'Nguyễn Thị Minh Nguyệt', N'Hà Nội', N'1234567899', N'nguyet@gmail.com', CAST(N'2017-05-18 00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([Id], [TaiKhoan], [MatKhau], [TenKhachHang], [DiaChi], [DienThoai], [Email], [NgaySinh]) VALUES (3, N'trantien', N'e10adc3949ba59abbe56e057f20f883e', N'Trần Văn Tiến', N' Quảng Nam', N'1234567788', N'tien123@gmai.com', CAST(N'1995-04-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] ON 

INSERT [dbo].[LoaiTaiKhoan] ([Id], [TenLoai]) VALUES (1, N'Người dùng')
INSERT [dbo].[LoaiTaiKhoan] ([Id], [TenLoai]) VALUES (2, N'Khách hàng')
INSERT [dbo].[LoaiTaiKhoan] ([Id], [TenLoai]) VALUES (3, N'Nhà cung cấp')
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Id], [TaiKhoan], [MatKhau], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [Email], [MaLoai]) VALUES (1, N'âs', NULL, N'aaa', 1, CAST(N'1996-11-25 00:00:00.000' AS DateTime), N'dssd', NULL, 1)
INSERT [dbo].[NguoiDung] ([Id], [TaiKhoan], [MatKhau], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [Email], [MaLoai]) VALUES (2, N'admin', N'12345', N'Admin', 1, CAST(N'1996-11-25 00:00:00.000' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([Id], [TenNhaCungCap]) VALUES (1, N'Công ty  thiết kế bàn ghế Hoàng Anh')
INSERT [dbo].[NhaCungCap] ([Id], [TenNhaCungCap]) VALUES (2, N'Công ty sản xuất gỗ lát nhà Hưng Thịnh')
INSERT [dbo].[NhaCungCap] ([Id], [TenNhaCungCap]) VALUES (3, N'Xưởng sản xuất tủ Ánh Nguyệt')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([Id], [MetaTitle], [TenSanPham], [MoTa], [DonGia], [DonVi], [MaCC], [MaDanhMuc], [HinhAnh]) VALUES (4, NULL, N'Giường ngủ cao cấp', N'<p>Giúp cho giấc ngủ của bạn được ngon hơn, bền và đẹp</p>', CAST(5000000 AS Decimal(18, 0)), N'VNĐ', 4, 4, N'4.jpg')
INSERT [dbo].[SanPham] ([Id], [MetaTitle], [TenSanPham], [MoTa], [DonGia], [DonVi], [MaCC], [MaDanhMuc], [HinhAnh]) VALUES (5, NULL, N'Bàn trà', N'<p>Thiết kế sang trọng, phù hợp với căn phòng tiếp khác của bạn. Tạo cảm giác gần gũi với thiên nhiên</p>', CAST(10000000 AS Decimal(18, 0)), N'VNĐ', 1, 1, N'5.jpg')
INSERT [dbo].[SanPham] ([Id], [MetaTitle], [TenSanPham], [MoTa], [DonGia], [DonVi], [MaCC], [MaDanhMuc], [HinhAnh]) VALUES (6, NULL, N'Sàn gỗ lát ngoài trời', N'<p>Chống chịu mưa nắng tốt, thích hợp cho không gian ngoài trời, tôn nên vẻ sang trọng cho nhà của bạn</p>', CAST(300000 AS Decimal(18, 0)), N'VND', 2, 5, N'6.png')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KhachHan__D5B8C7F0AD26EFE4]    Script Date: 5/5/2018 11:50:39 AM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FkChiTietHoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FkChiTietHoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FkChiTietHoaDonSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FkChiTietHoaDonSanPham]
GO
ALTER TABLE [dbo].[ChiTietHopDong]  WITH CHECK ADD  CONSTRAINT [FkChiTietHopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([Id])
GO
ALTER TABLE [dbo].[ChiTietHopDong] CHECK CONSTRAINT [FkChiTietHopDong]
GO
ALTER TABLE [dbo].[ChiTietHopDong]  WITH CHECK ADD  CONSTRAINT [FkChiTietHopDongSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[ChiTietHopDong] CHECK CONSTRAINT [FkChiTietHopDongSanPham]
GO
ALTER TABLE [dbo].[DeXuat]  WITH CHECK ADD  CONSTRAINT [FkDeXuatNguoiDung] FOREIGN KEY([MaNguoiDeXuat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DeXuat] CHECK CONSTRAINT [FkDeXuatNguoiDung]
GO
ALTER TABLE [dbo].[DeXuat]  WITH CHECK ADD  CONSTRAINT [FkDeXuatNguoiDung1] FOREIGN KEY([MaNguoiXacNhan])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DeXuat] CHECK CONSTRAINT [FkDeXuatNguoiDung1]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FkHoaDonKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([Id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FkHoaDonKhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FkHoaDonNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FkHoaDonNguoiDung]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FkHopDongKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([Id])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FkHopDongKhachHang]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FkHopDongNguoiDung] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FkHopDongNguoiDung]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FkHopDongNguoiDung1] FOREIGN KEY([MaGiamDoc])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FkHopDongNguoiDung1]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FkNguoiDungLoaiTaiKhoan] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiTaiKhoan] ([Id])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FkNguoiDungLoaiTaiKhoan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FkSanPhamDanhMucSanPham] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucSanPham] ([Id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FkSanPhamDanhMucSanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FkSanPhamNhaCungCap] FOREIGN KEY([MaCC])
REFERENCES [dbo].[NhaCungCap] ([Id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FkSanPhamNhaCungCap]
GO
USE [master]
GO
